<div class='category flex'>
<ul class='category-name flex'>
  <li><%= tran.name %></li>
  <li><%= tran.created_at.strftime("%d %b %Y") %></li>
</ul>
<div class='total'>
  <%= tran.amount %>$
</div>
</div>
